<p id="notice"><%= notice %></p>

<h1>Tweets</h1>
<%= link_to 'New Tweet', new_tweet_path %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.title %></td>
        <td><%= tweet.content %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= month_calendar events: @tweets do |date, tweets| %>
  <%= date.day %>
  <div>
    <% unless tweets.blank? %>
      <%= link_to "#{tweets.count}件", list_tweets_path(:tweets => tweets)  %>
    <% end %>
  </div>
<% end %>

